html {
    height: 100%;
}

.pass{
    padding-top: 100px;
}

.pass2{
    padding-top: 50px;
}

table.table-marks,
table.table-marks td,
table.table-marks th {
    border: 1px solid grey;
}

table.table-marks{
    width: 75%; 
    margin: auto;  
}

.marks {
    list-style-type: none
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar-item {
    float: left;
}

.navbar-item.last-item {
    float: right;
}

.navbar-item>a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-item>a.active {
    background-color: #555;
}

.navbar-item>a:hover {
    background-color: #111;
}

.container {
    margin-top: 60px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.biography-image-block {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.biography-image-block>img {
    width: 150px;
    height: auto;
    border-radius: 10px
}

.content-block {
    font-size: 20px;
    margin-top: 20px;
}

.clear-both {
    clear: both;
}

.contact-list {
    list-style-type: none;
}

.movies-list,
.singers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movies-list>.movies-list-item,
.singers-list>.singers-list-item {
    display: flex;
    max-width: 300px;
    border: 1px solid black;
    font-size: 0.8em;
    border-radius: 10px;
    margin-bottom: 20px;
}

.movies-list>.movies-list-item>.movies-list-item-image img,
.singers-list>.singers-list-item>.singers-list-item-image img {
    width: 150px;
    height: 200px;
    margin-right: 10px;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    height: 50px;
}

footer.bottom-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

footer .footer-text {
    text-align: center;
    padding: 15px 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;  
  width:100%; 
  text-align:center;
  margin: 20px 0px 20px 0px; 
  height: 100%; 
}

p{
  text-decoration: none;
  color:black;
}

h1{
  font-size:1.5em;
  color:#525252;
}

.box{
  background:white;
  width:300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:0px 0px 70px 0px;
  border:4px solid; 
}

.email{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.password{
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
}

.btn{
  background:#2ecc71;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #27ae60 1px solid;
  
  margin-top:20px;
  margin-bottom:20px;
  float:left;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
}

.btn:hover{
  background:#2CC06B; 
}

#btn2{
  float:left;
  width:125px;  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border:1px solid;
  
  margin-top:20px;
  margin-bottom:20px;
  margin-left:10px;
  font-weight:800;
  font-size:0.8em;
}

#btn2:hover{ 
 
}